[Unit]
Description=Gunicorn service for Atex Calculadora
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/atex-calc-web
Environment="PATH=/var/www/atex-calc-web/venv/bin"
ExecStart=/var/www/atex-calc-web/venv/bin/gunicorn \
  --workers 3 \
  --bind 127.0.0.1:8000 \
  passenger_wsgi:application

Restart=always

[Install]
WantedBy=multi-user.target
